
`timescale 1ps / 1ps

module test;


wire  ackOut, reqOut;

reg  ackIn, reqIn;

wire [31:0]  DataOut;

reg [31:0]  dataIn;
integer dc_mode_flag;
integer output_change_count;
integer max_dc_iter;
integer dc_iterations;
time vmx_time_offset;




HS_Dual_Cordic_Test top(DataOut, ackOut, reqOut, ackIn, dataIn, reqIn
     ); 
 

`define verimix
`ifdef verimix

  //Parasitic Simulation annotate definitions
  `include "annotate_msb"

  //vms and dc iteration loop definitions
  `include "IE.verimix"

  //please enter any additional stimulus in the testfixture.verimix file
  `include "testfixture.verimix"

  //$save_waveform definitions
  `include "saveDefs"

`endif


endmodule 
