
`timescale 1ps / 1ps

module test;


wire  ReadAck, WriteAck;


wire [4:0]  R_AddressAck;
wire [1:0]  WdataAck;
wire [4:0]  W_AddresAck;
wire [7:0]  RData;

reg [1:0]  RdataAck;
reg [1:0]  RRW;
reg [19:0]  W_Address;
reg [1:0]  WRW;
reg [7:0]  WData;
reg [19:0]  R_Address;
integer dc_mode_flag;
integer output_change_count;
integer max_dc_iter;
integer dc_iterations;
time vmx_time_offset;




cdsModule_27 top(RData, R_AddressAck, ReadAck, W_AddresAck, WdataAck, 
     WriteAck, RRW, R_Address, RdataAck, WData, WRW, W_Address); 
 

`define verimix
`ifdef verimix

  //Parasitic Simulation annotate definitions
  `include "annotate_msb"

  //vms and dc iteration loop definitions
  `include "IE.verimix"

  //please enter any additional stimulus in the testfixture.verimix file
  `include "testfixture.verimix"

  //$save_waveform definitions
  `include "saveDefs"

`endif


endmodule 
