[n!verilog.top]

integer chan1, chan2, chan3, chan4, chan5, chan6, chan7, chan8, chan9,
        chan10, chan11, chan13, chan14, chan15, chan16, chan17, chan18,
        chan19, chan20, chan21, chan22, chan23, chan24, chan25, chan26,
        chan27, chan28, chan29, chan30, chan31, chan32;

[n!verilog.inp]

[?delayTask.cmd]

[?verilog.sim]

endmodule
