
`timescale 1ps / 1ps

module test;


wire  Ack;


wire [4:0]  Ctrl_Ack;
wire [31:0]  ReadData;
wire [7:0]  WriteAck;

reg [31:0]  WriteData;
reg [19:0]  A;
reg [7:0]  RD_Ack;
reg [1:0]  RW;
integer dc_mode_flag;
integer output_change_count;
integer max_dc_iter;
integer dc_iterations;
time vmx_time_offset;




cdsModule_112 top(Ack, Ctrl_Ack, ReadData, WriteAck, A, RD_Ack, RW, 
     WriteData); 
 

`define verimix
`ifdef verimix

  //Parasitic Simulation annotate definitions
  `include "annotate_msb"

  //vms and dc iteration loop definitions
  `include "IE.verimix"

  //please enter any additional stimulus in the testfixture.verimix file
  `include "testfixture.verimix"

  //$save_waveform definitions
  `include "saveDefs"

`endif


endmodule 
